In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from carbon_forecast.utils.data_related import show_sector
import pandas as pd
import numpy as np

In [3]:
df = show_sector()

Which GICS Sector?Energy
Reading data...
Getting rid of 2021 incomplete data...
Adding scope1&2 -> For absolute please look 'C-absolute-1+2'
 For intensity please look 'C-intensity-1+2'
Filtering by GICS Industry Name
Done!

In [28]:
df

,TCUID,Company,Financial Year,GICS Sector Name,GICS Industry Group Name,GICS Industry Name,GICS Sub Industry Name,Carbon-Scope 1 (tonnes CO2e),Carbon-Scope 2 (tonnes CO2e),Carbon Intensity-Scope 1 (tonnes CO2e/USD mn),Carbon Intensity-Scope 2 (tonnes CO2e/USD mn),Carbon-Weighted Disclosure (%),Revenue (USD mn),C-absolute-1+2,C-intensity-1+2
210,42717,Woodside Energy Group Ltd,2007,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,1.643806e+06,8724.780000,468.018306,2.484087,100.0,3512.268000,1.652530e+06,470.502393
211,42717,Woodside Energy Group Ltd,2008,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,1.979545e+06,8923.626481,480.180974,2.164616,100.0,4122.497845,1.988469e+06,482.345590
212,42717,Woodside Energy Group Ltd,2009,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,2.516979e+06,8389.174554,643.075650,2.143393,100.0,3913.970000,2.525368e+06,645.219042
213,42717,Woodside Energy Group Ltd,2010,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,2.258013e+06,22282.000000,538.519653,5.314095,100.0,4193.000000,2.280295e+06,543.833748
214,42717,Woodside Energy Group Ltd,2011,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,1.888694e+06,18637.580078,393.314101,3.881212,100.0,4802.000000,1.907332e+06,397.195313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130410,247360,"JC Chemical Co., Ltd.",2020,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Refining & Marketing,5.104816e+04,7240.055000,224.955000,31.905000,0.0,226.925832,5.828821e+04,256.860000
130565,247533,New Fortress Energy Inc.,2020,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Refining & Marketing,9.678890e+05,46781.000000,2143.007000,103.578000,100.0,451.650000,1.014670e+06,2246.585000
130627,247608,Peninsula Energy Limited,2020,Energy,Energy,"Oil, Gas & Consumable Fuels",Coal & Consumable Fuels,6.553500e+02,1618.294000,107.823000,266.254000,0.0,6.078000,2.273644e+03,374.077000
130631,247612,Petroreconcavo S.A.,2020,Energy,Energy,"Oil, Gas & Consumable Fuels",Oil & Gas Exploration & Production,6.455879e+04,7419.849000,421.942000,48.495000,0.0,153.003893,7.197864e+04,470.437000
130836,247816,Technip Energies N.V.,2020,Energy,Energy,Energy Equipment & Services,Oil & Gas Equipment & Services,1.124100e+05,88387.833000,17.157000,13.491000,0.0,6551.749716,2.007978e+05,30.648000

In [4]:
c_abs = df.pivot_table(index="Company", columns="Financial Year", values="C-absolute-1+2").reset_index()
c_abs["Data Type"] = "C-absolute-1+2"
cols =['Company','Data Type', 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
c_abs = c_abs[cols]
c_abs

Financial Year,Company,Data Type,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,3D Systems Corporation,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.750162e+04,2.154699e+04,NaN,NaN,NaN,NaN,NaN,NaN
1,AAG Energy Holdings Limited,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.155474e+05,128071.130
2,"AJ Networks Co.,Ltd.",C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.828500e+04,NaN,NaN,NaN,NaN
3,APA Corporation,C-absolute-1+2,4.287862e+06,3.431465e+06,4.297651e+06,3.361742e+06,1.154348e+07,1.090192e+07,1.310190e+07,1.208252e+07,9.902410e+06,8.501883e+06,7.730834e+06,7.861236e+06,7.051488e+06,4.211603e+06,7.241184e+06,6770000.000
4,ARC Resources Ltd.,C-absolute-1+2,4.431429e+05,7.885836e+05,8.005990e+05,7.505860e+05,8.059971e+05,8.910479e+05,9.003396e+05,9.686485e+05,1.046126e+06,1.153942e+06,1.078864e+06,9.810939e+05,1.011575e+06,8.957133e+05,6.345293e+05,617559.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,Z Energy Limited,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.214903e+04,1.046108e+05,1.207580e+05,1.309182e+05,112073.784
922,Zhengzhou Coal Mining Machinery Group Company ...,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.662943e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,Zhongman Petroleum and Natural Gas Group Corp....,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.940170e+03,1.150143e+04,7394.091
924,Zhongxing Tianheng Energy Technology (Beijing)...,C-absolute-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.228082e+05,3.036283e+05,1.670674e+05,5.471226e+04,33819.998
925,sxr Uranium One Inc.,C-absolute-1+2,NaN,6.879465e+04,7.158684e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
c_w_disclosure = df.pivot_table(index="Company", columns="Financial Year", values="Carbon-Weighted Disclosure (%)").reset_index()
c_w_disclosure["Data Type"] = "Carbon-Weighted Disclosure (%)"
c_w_disclosure = c_w_disclosure[cols]
c_w_disclosure

Financial Year,Company,Data Type,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,3D Systems Corporation,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AAG Energy Holdings Limited,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0
2,"AJ Networks Co.,Ltd.",Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,APA Corporation,Carbon-Weighted Disclosure (%),0.0,0.000000,0.000000,0.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
4,ARC Resources Ltd.,Carbon-Weighted Disclosure (%),0.0,99.588207,99.659817,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,Z Energy Limited,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
922,Zhengzhou Coal Mining Machinery Group Company ...,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,Zhongman Petroleum and Natural Gas Group Corp....,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
924,Zhongxing Tianheng Energy Technology (Beijing)...,Carbon-Weighted Disclosure (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
925,sxr Uranium One Inc.,Carbon-Weighted Disclosure (%),NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
revenue = df.pivot_table(index="Company", columns="Financial Year", values="Revenue (USD mn)").reset_index()
revenue["Data Type"] = "Revenue (USD mn)"
revenue = revenue[cols]
revenue

Financial Year,Company,Data Type,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,3D Systems Corporation,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,513.400000,653.652000,NaN,NaN,NaN,NaN,NaN,NaN
1,AAG Energy Holdings Limited,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.107800,150.782453
2,"AJ Networks Co.,Ltd.",Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1076.714878,NaN,NaN,NaN,NaN
3,APA Corporation,Revenue (USD mn),7584.244000,8115.234000,9977.860000,12389.750000,8614.83000,12183.000000,16810.000000,16947.00000,16402.000000,13749.000000,6383.0000,5367.000000,5887.000000,7348.0000,6315.000000,4393.000000
4,ARC Resources Ltd.,Revenue (USD mn),783.818133,866.365101,1040.519963,1147.409913,792.09756,991.141302,1231.976368,1394.11207,1576.395383,1908.361552,933.0331,802.241908,977.372663,1051.1900,896.182823,845.896535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,Z Energy Limited,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1705.475600,2741.249039,3264.6633,3709.509300,3227.594723
922,Zhengzhou Coal Mining Machinery Group Company ...,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1222.021599,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,Zhongman Petroleum and Natural Gas Group Corp....,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209.0204,356.542412,229.612700
924,Zhongxing Tianheng Energy Technology (Beijing)...,Revenue (USD mn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,546.570588,959.562709,515.3454,156.997600,80.321000
925,sxr Uranium One Inc.,Revenue (USD mn),NaN,117.597140,143.470000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
c_abs_data = c_abs.drop(columns=["Company", "Data Type"])
c_w_disclosure_data = c_w_disclosure.drop(columns=["Company", "Data Type"])
revenue_data = revenue.drop(columns=["Company", "Data Type"])

c_abs_data = c_abs_data.iloc[:, 5:].dropna()
c_w_disclosure_data = c_w_disclosure_data.iloc[:, 5:].dropna()
revenue_data = revenue_data.iloc[:, 5:].dropna()
revenue_data

Financial Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
3,12183.000000,16810.000000,16947.000000,16402.000000,13749.000000,6383.000000,5367.000000,5887.000000,7348.0000,6315.000000,4393.000000
4,991.141302,1231.976368,1394.112070,1576.395383,1908.361552,933.033100,802.241908,977.372663,1051.1900,896.182823,845.896535
30,17139.752343,22805.384388,24131.081080,23798.539150,21839.810000,15028.109080,13324.913300,16391.725400,16227.2405,15504.885064,10603.224407
44,2461.530000,2683.470000,2803.600000,3160.400000,2899.740000,998.108000,807.069000,794.655000,904.4410,965.485000,874.970000
63,297107.000000,375517.000000,375580.000000,379136.000000,353568.000100,222894.000000,183007.999980,240208.000000,298756.0000,276850.000000,179670.990000
...,...,...,...,...,...,...,...,...,...,...,...
886,705.783000,971.049062,874.489922,984.091250,949.004531,507.265000,399.986000,487.096000,580.7060,534.896000,346.634000
900,368.022769,613.396009,637.295911,638.299026,693.440000,635.741073,847.348916,1336.047280,1669.7045,1778.939000,1156.700134
905,421.464500,316.769900,1220.945024,1567.427000,1278.912500,1706.682500,2168.740000,3420.200700,3327.3081,3067.130300,3208.621735
910,4453.619019,5525.840112,7619.110000,9039.971000,8776.392256,7285.090100,5669.361623,4006.315807,3747.4920,4919.434560,8750.830100
916,5325.833800,7384.602800,9227.897900,9230.493300,9834.790400,5834.764800,5007.921400,7791.904000,10194.2889,9815.740099,10015.700475

In [59]:
c_abs_data_train, c_abs_data_test = c_abs_data[:120], c_abs_data[120:]
c_w_disclosure_data_train, c_w_disclosure_data_test = c_w_disclosure_data[:120], c_w_disclosure_data[120:]
revenue_data_train, revenue_data_test =revenue_data[:120], revenue_data[120:]
c_w_disclosure_data_test.shape

(23, 11)

In [146]:
X_c_abs_train, y_c_abs_train = c_abs_data_train.drop(columns=[2019,2020]), c_abs_data_train[[2019,2020]]
X_c_w_disclosure_train, y_c_w_disclosure_train = c_w_disclosure_data_train.drop(columns=[2019,2020]), c_w_disclosure_data_train[[2019,2020]]
X_revenue_train, y_revenue_train = revenue_data_train.drop(columns=[2019,2020]), revenue_data_train[[2019,2020]]
X_revenue_train.shape

(120, 9)

In [147]:
y_c_abs_train

Financial Year          2019          2020
3               7.241184e+06  6.770000e+06
4               6.345293e+05  6.175590e+05
30              7.558620e+05  5.637903e+05
44              3.002889e+04  3.313875e+04
63              5.440000e+07  4.548942e+07
..                       ...           ...
731             8.856971e+05  1.059494e+06
744             1.335050e+07  1.312595e+07
754             2.195893e+06  1.971325e+06
755             1.073346e+07  1.009206e+07
760             8.062163e+07  7.404500e+07

[120 rows x 2 columns]

In [148]:
X_big = [X_c_abs_train, X_c_w_disclosure_train, X_revenue_train]
y_big = [y_c_abs_train]

In [149]:
X_big_array = np.array(X_big).astype(np.float32)
y_big_array = np.array(y_big).astype(np.float32)
X_big_array.shape

(3, 120, 9)

In [156]:
X_big_array_train = X_big_array.reshape(120,9,3)
y_big_array_train = y_big_array.reshape(120,2,1)
y_big_array_train.shape

(120, 2, 1)

In [157]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Masking, Normalization
from tensorflow.keras.callbacks import EarlyStopping, LearningRateScheduler
from tensorflow.keras.losses import mean_absolute_percentage_error
from tensorflow.keras.optimizers import Adam
import tensorflow as tf
def scheduler(epoch, lr):
    if epoch < 200:
        return lr
    else:
        return lr * tf.math.exp(-0.1)

normalizer = Normalization(input_shape=(9,3))
normalizer.adapt(X_big_array_train)


model = Sequential([
    normalizer,
    LSTM(1000,return_sequences=True),
    LSTM(500),
    Dense(200),
    Dense(50),
    Dense(1, activation="linear")
])

es = EarlyStopping(patience=50, restore_best_weights=True)
lr = LearningRateScheduler(scheduler)
model.summary()

Model: "sequential_23"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_18 (Normaliza  (None, 9, 3)             7
 tion)

 lstm_46 (LSTM)              (None, 9, 1000)           4016000

 lstm_47 (LSTM)              (None, 500)               3002000

 dense_49 (Dense)            (None, 200)               100200

 dense_50 (Dense)            (None, 50)                10050

 dense_51 (Dense)            (None, 1)                 51

=================================================================
Total params: 7,128,308
Trainable params: 7,128,301
Non-trainable params: 7
_________________________________________________________________

In [158]:
model.compile(Adam(learning_rate=0.05), loss=mean_absolute_percentage_error)

In [159]:
history = model.fit(x=X_big_array_train, y=y_big_array_train,epochs=10_000, callbacks=[lr, es], validation_split=0.2)

Epoch 1/10000
3/3 [==============================] - 3s 414ms/step - loss: 99.8460 - val_loss: 99.3819 - lr: 0.0500
Epoch 2/10000
3/3 [==============================] - 1s 185ms/step - loss: 96.7102 - val_loss: 94.8968 - lr: 0.0500
Epoch 3/10000
3/3 [==============================] - 1s 194ms/step - loss: 94.5972 - val_loss: 97.5214 - lr: 0.0500
Epoch 4/10000
3/3 [==============================] - 1s 191ms/step - loss: 94.3129 - val_loss: 98.5329 - lr: 0.0500
Epoch 5/10000
3/3 [==============================] - 1s 189ms/step - loss: 94.9862 - val_loss: 98.0228 - lr: 0.0500
Epoch 6/10000
3/3 [==============================] - 1s 191ms/step - loss: 94.5395 - val_loss: 96.2945 - lr: 0.0500
Epoch 7/10000
3/3 [==============================] - 1s 188ms/step - loss: 94.3579 - val_loss: 96.9429 - lr: 0.0500
Epoch 8/10000
3/3 [==============================] - 1s 181ms/step - loss: 93.9074 - val_loss: 97.0083 - lr: 0.0500
Epoch 9/10000
3/3 [==============================] - 1s 183ms/step - loss: 93.7100 - val_loss: 97.1268 - lr: 0.0500
Epoch 10/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.7019 - val_loss: 97.1623 - lr: 0.0500
Epoch 11/10000
3/3 [==============================] - 1s 184ms/step - loss: 93.7900 - val_loss: 96.5299 - lr: 0.0500
Epoch 12/10000
3/3 [==============================] - 1s 184ms/step - loss: 93.6150 - val_loss: 96.6514 - lr: 0.0500
Epoch 13/10000
3/3 [==============================] - 1s 202ms/step - loss: 93.7893 - val_loss: 97.3006 - lr: 0.0500
Epoch 14/10000
3/3 [==============================] - 1s 186ms/step - loss: 93.8676 - val_loss: 97.6327 - lr: 0.0500
Epoch 15/10000
3/3 [==============================] - 1s 185ms/step - loss: 93.6696 - val_loss: 97.2804 - lr: 0.0500
Epoch 16/10000
3/3 [==============================] - 1s 187ms/step - loss: 93.5823 - val_loss: 96.7746 - lr: 0.0500
Epoch 17/10000
3/3 [==============================] - 1s 183ms/step - loss: 93.5778 - val_loss: 96.6440 - lr: 0.0500
Epoch 18/10000
3/3 [==============================] - 1s 184ms/step - loss: 93.7130 - val_loss: 97.0549 - lr: 0.0500
Epoch 19/10000
3/3 [==============================] - 1s 205ms/step - loss: 93.8633 - val_loss: 97.6195 - lr: 0.0500
Epoch 20/10000
3/3 [==============================] - 1s 183ms/step - loss: 94.0398 - val_loss: 97.7858 - lr: 0.0500
Epoch 21/10000
3/3 [==============================] - 1s 189ms/step - loss: 93.9786 - val_loss: 97.1606 - lr: 0.0500
Epoch 22/10000
3/3 [==============================] - 1s 198ms/step - loss: 93.7741 - val_loss: 97.1355 - lr: 0.0500
Epoch 23/10000
3/3 [==============================] - 1s 187ms/step - loss: 93.8570 - val_loss: 96.3662 - lr: 0.0500
Epoch 24/10000
3/3 [==============================] - 1s 183ms/step - loss: 93.7237 - val_loss: 96.6693 - lr: 0.0500
Epoch 25/10000
3/3 [==============================] - 1s 183ms/step - loss: 93.6295 - val_loss: 96.7936 - lr: 0.0500
Epoch 26/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.5921 - val_loss: 96.8494 - lr: 0.0500
Epoch 27/10000
3/3 [==============================] - 1s 182ms/step - loss: 94.0842 - val_loss: 97.4016 - lr: 0.0500
Epoch 28/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.6224 - val_loss: 97.3922 - lr: 0.0500
Epoch 29/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.6265 - val_loss: 97.2176 - lr: 0.0500
Epoch 30/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.5355 - val_loss: 96.7845 - lr: 0.0500
Epoch 31/10000
3/3 [==============================] - 1s 187ms/step - loss: 93.6316 - val_loss: 96.6514 - lr: 0.0500
Epoch 32/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.9585 - val_loss: 96.6593 - lr: 0.0500
Epoch 33/10000
3/3 [==============================] - 1s 183ms/step - loss: 94.2393 - val_loss: 97.5268 - lr: 0.0500
Epoch 34/10000
3/3 [==============================] - 1s 190ms/step - loss: 93.7789 - val_loss: 97.6038 - lr: 0.0500
Epoch 35/10000
3/3 [==============================] - 1s 192ms/step - loss: 93.7585 - val_loss: 97.1768 - lr: 0.0500
Epoch 36/10000
3/3 [==============================] - 1s 183ms/step - loss: 94.7329 - val_loss: 96.7855 - lr: 0.0500
Epoch 37/10000
3/3 [==============================] - 1s 182ms/step - loss: 94.9316 - val_loss: 98.2090 - lr: 0.0500
Epoch 38/10000
3/3 [==============================] - 1s 185ms/step - loss: 94.3535 - val_loss: 98.1751 - lr: 0.0500
Epoch 39/10000
3/3 [==============================] - 1s 180ms/step - loss: 94.6200 - val_loss: 97.1535 - lr: 0.0500
Epoch 40/10000
3/3 [==============================] - 1s 187ms/step - loss: 93.7515 - val_loss: 97.2695 - lr: 0.0500
Epoch 41/10000
3/3 [==============================] - 1s 181ms/step - loss: 93.6673 - val_loss: 96.8085 - lr: 0.0500
Epoch 42/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.7212 - val_loss: 96.9335 - lr: 0.0500
Epoch 43/10000
3/3 [==============================] - 1s 183ms/step - loss: 93.8149 - val_loss: 96.6880 - lr: 0.0500
Epoch 44/10000
3/3 [==============================] - 1s 188ms/step - loss: 93.9106 - val_loss: 96.8916 - lr: 0.0500
Epoch 45/10000
3/3 [==============================] - 1s 181ms/step - loss: 93.7098 - val_loss: 97.6199 - lr: 0.0500
Epoch 46/10000
3/3 [==============================] - 1s 182ms/step - loss: 94.2684 - val_loss: 98.1665 - lr: 0.0500
Epoch 47/10000
3/3 [==============================] - 1s 181ms/step - loss: 94.4478 - val_loss: 97.4945 - lr: 0.0500
Epoch 48/10000
3/3 [==============================] - 1s 190ms/step - loss: 93.5698 - val_loss: 97.0739 - lr: 0.0500
Epoch 49/10000
3/3 [==============================] - 1s 182ms/step - loss: 93.7513 - val_loss: 96.5943 - lr: 0.0500
Epoch 50/10000
3/3 [==============================] - 1s 213ms/step - loss: 93.6178 - val_loss: 96.5551 - lr: 0.0500
Epoch 51/10000
3/3 [==============================] - 1s 183ms/step - loss: 94.0672 - val_loss: 97.3632 - lr: 0.0500
Epoch 52/10000
3/3 [==============================] - 1s 190ms/step - loss: 93.5910 - val_loss: 97.4502 - lr: 0.0500

In [160]:
c_int = df.pivot_table(index="Company", columns="Financial Year", values="C-intensity-1+2").reset_index()
c_int["Data Type"] = "C-intensity-1+2"
c_int = c_int[cols]
c_int

Financial Year,Company,Data Type,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,3D Systems Corporation,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.089633,32.964006,NaN,NaN,NaN,NaN,NaN,NaN
1,AAG Energy Holdings Limited,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,687.341188,849.377
2,"AJ Networks Co.,Ltd.",C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.269718,NaN,NaN,NaN,NaN
3,APA Corporation,C-intensity-1+2,565.364483,422.842444,430.718697,271.332529,1339.954243,894.847210,779.410863,712.959240,603.731867,618.363729,1211.159959,1464.735563,1197.806772,573.163185,1146.664000,1541.088
4,ARC Resources Ltd.,C-intensity-1+2,565.364483,910.220879,769.422008,654.156828,1017.547760,899.011945,730.809139,694.813964,663.619088,604.676817,1156.298192,1222.940252,1034.994228,852.094543,708.035557,730.064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,Z Energy Limited,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.440881,38.161726,36.989416,35.292586,34.724
922,Zhengzhou Coal Mining Machinery Group Company ...,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.157615,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,Zhongman Petroleum and Natural Gas Group Corp....,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.203314,32.258231,32.202
924,Zhongxing Tianheng Energy Technology (Beijing)...,C-intensity-1+2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.688705,316.423628,324.185362,348.491053,421.060
925,sxr Uranium One Inc.,C-intensity-1+2,NaN,585.002713,498.967334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
c_int_data = c_int.drop(columns=["Company", "Data Type"])

c_int_data = c_int_data.iloc[:, 5:].dropna()

c_int_data_train, c_int_data_test = c_int_data[:120], c_int_data[120:]
X_c_int_train, y_c_int_train = c_int_data_train.drop(columns=[2019,2020]), c_int_data_train[[2019,2020]]

In [165]:
X_big2 = [X_c_int_train, X_c_w_disclosure_train]
y_big2 = [y_c_int_train]
X_big2_array = np.array(X_big2).astype(np.float32)
y_big2_array = np.array(y_big2).astype(np.float32)
X_big2_array_train = X_big2_array.reshape(120,9,2)
y_big2_array_train = y_big2_array.reshape(120,2,1)

In [166]:
model2 = Sequential([
    normalizer,
    LSTM(1000,return_sequences=True),
    LSTM(500),
    Dense(200),
    Dense(50),
    Dense(1, activation="linear")
])
model2.compile(Adam(learning_rate=0.05), loss=mean_absolute_percentage_error)
history2 = model2.fit(x=X_big2_array_train, y=y_big2_array_train,epochs=10_000, callbacks=[lr, es], validation_split=0.2)

Epoch 1/10000

ValueError: in user code:

    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/home/leo/.pyenv/versions/3.8.12/envs/carbon-forecast/lib/python3.8/site-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_25" is incompatible with the layer: expected shape=(None, 9, 3), found shape=(32, 9, 2)