In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from carbon_forecast.utils.data_related import show_sector
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("../raw_data/Historical_Emissions.csv")

In [3]:
df["Carbon Intensity 1+2"] = df["Carbon Intensity-Scope 1 (tonnes CO2e/USD mn)"] + df["Carbon Intensity-Scope 2 (tonnes CO2e/USD mn)"]
df
df_cleanse = df[["TCUID", "Company", "Financial Year", "GICS Sector Name", "Country", "Carbon Intensity 1+2", "Carbon-Weighted Disclosure (%)", "Revenue (USD mn)" ]]
df_cleanse

,TCUID,Company,Financial Year,GICS Sector Name,Country,Carbon Intensity 1+2,Carbon-Weighted Disclosure (%),Revenue (USD mn)
0,42694,Erste Group Bank AG,2005,Financials,AUSTRIA,2.555870,0.000000,5638.151346
1,42694,Erste Group Bank AG,2006,Financials,AUSTRIA,2.444571,0.000000,9596.196598
2,42694,Erste Group Bank AG,2007,Financials,AUSTRIA,2.338714,0.000000,9036.210000
3,42694,Erste Group Bank AG,2008,Financials,AUSTRIA,3.119432,0.000000,9747.780000
4,42694,Erste Group Bank AG,2009,Financials,AUSTRIA,8.015415,94.431432,11658.920000
...,...,...,...,...,...,...,...,...
131056,248219,Sylvamo Corporation,2020,Materials,UNITED STATES,701.008000,0.000000,3009.000000
131057,248243,Apartment Income REIT Corp.,2020,Real Estate,UNITED STATES,68.141000,0.000000,719.556000
131058,248356,Cogelec SA,2020,Information Technology,FRANCE,56.335000,0.000000,46.080508
131059,248357,Global Bioenergies SA,2020,Materials,FRANCE,326.094000,0.000000,0.072767
131060,248357,Global Bioenergies SA,2021,Materials,FRANCE,332.125000,0.000000,0.983899

In [4]:
disclosing = df_cleanse[df_cleanse["Carbon-Weighted Disclosure (%)"] > 0]
disclosing["GICS Sector Name"].value_counts()

Industrials               7642
Materials                 5480
Consumer Discretionary    5124
Financials                4147
Information Technology    3577
Consumer Staples          3133
Utilities                 3007
Energy                    2671
Real Estate               2206
Health Care               2131
Communication Services    1400
Name: GICS Sector Name, dtype: int64

In [5]:
all_features = pd.read_excel("../raw_data/All_features.xlsx")
all_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17468 entries, 0 to 17467
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   company_name                                17468 non-null  object
 1   TCUID                                       17460 non-null  float64
 2   MI_ID                                       17468 non-null  int64
 3   intensity_scope1_CY2021                     3800 non-null   float64
 4   intensity_scope1_CY2020                     16895 non-null  float64
 5   intensity_scope1_CY2019                     14984 non-null  float64
 6   intensity_scope1_CY2018                     14215 non-null  float64
 7   intensity_scope1_CY2017                     13268 non-null  float64
 8   intensity_scope1_CY2016                     12171 non-null  float64
 9   intensity_scope1_CY2015                     5367 non-null   float64
 10  intensity_scope1_CY2014                     5176 non-null   float64
 11  intensity_scope1_CY2013                     4795 non-null   float64
 12  intensity_scope1_CY2012                     4041 non-null   float64
 13  intensity_scope1_CY2011                     3939 non-null   float64
 14  intensity_scope1_CY2010                     3782 non-null   float64
 15  disclosureCY0                               17468 non-null  float64
 16  disclosureCY2021                            3800 non-null   float64
 17  disclosureCY2020                            16895 non-null  float64
 18  disclosureCY2019                            14984 non-null  float64
 19  disclosureCY2018                            14214 non-null  float64
 20  disclosureCY2017                            13268 non-null  float64
 21  disclosureCY2016                            12171 non-null  float64
 22  disclosureCY2015                            5367 non-null   float64
 23  disclosureCY2014                            5176 non-null   float64
 24  disclosureCY2013                            4795 non-null   float64
 25  disclosureCY2012                            4041 non-null   float64
 26  disclosureCY2011                            3939 non-null   float64
 27  disclosureCY2010                            3778 non-null   float64
 28  Sector                                      17468 non-null  object
 29  Industry Group                              17468 non-null  object
 30  Industry                                    17468 non-null  object
 31  Primary Industry                            17468 non-null  object
 32  Country / Region Name                       17468 non-null  object
 33  S&P Credit Rating                           3275 non-null   object
 34  Full Time Employees
(actual)                13155 non-null  float64
 35  Total Enterprise Value (CIQ)
($M)           9313 non-null   float64
 36  revenueCY0                                  17463 non-null  float64
 37  revenueCY2021                               3800 non-null   float64
 38  revenueCY2020                               16888 non-null  float64
 39  revenueCY2019                               14984 non-null  float64
 40  revenueCY2018                               14215 non-null  float64
 41  revenueCY2017                               13268 non-null  float64
 42  revenueCY2016                               12171 non-null  float64
 43  revenueCY2015                               5367 non-null   float64
 44  revenueCY2014                               5176 non-null   float64
 45  revenueCY2013                               4795 non-null   float64
 46  revenueCY2012                               4041 non-null   float64
 47  revenueCY2011                               3939 non-null   float64
 48  revenueCY2010                               3782 non-null   float64
 49  climate_strategy_scoreFY2022                0 non-null      float64
 50  climate_strategy_scoreFY2021                10549 non-null  float64
 51  climate_strategy_scoreFY2020                8850 non-null   float64
 52  climate_strategy_scoreFY2019                6375 non-null   float64
 53  climate_strategy_scoreFY2018                4232 non-null   float64
 54  climate_strategy_scoreFY2017                3244 non-null   float64
 55  climate_strategy_scoreFY2016                2735 non-null   float64
 56  climate_strategy_scoreFY2015                2554 non-null   float64
 57  climate_strategy_scoreFY2014                1888 non-null   float64
 58  climate_strategy_scoreFY2013                1869 non-null   float64
 59  nuclear_percentage_revenue                  13092 non-null  float64
 60  thermal_coal_percentage_revenue             13078 non-null  float64
 61  ultra_deep_sea_drilling_percentage_revenue  11661 non-null  float64
 62  shale_oil_gas_percentage_revenue            11682 non-null  float64
 63  coal_percentage_revenue                     13083 non-null  float64
 64  arctic_drilling_percentage_revenue          11617 non-null  float64
 65  oil_sands_percentage_revenue                11719 non-null  float64
 66  pe_ratio                                    9979 non-null   object
dtypes: float64(58), int64(1), object(8)
memory usage: 8.9+ MB

In [35]:
all_features[all_features.TCUID.isna()]

,company_name,TCUID,MI_ID,intensity_scope1_CY2021,intensity_scope1_CY2020,intensity_scope1_CY2019,intensity_scope1_CY2018,intensity_scope1_CY2017,intensity_scope1_CY2016,intensity_scope1_CY2015,intensity_scope1_CY2014,intensity_scope1_CY2013,intensity_scope1_CY2012,intensity_scope1_CY2011,intensity_scope1_CY2010,disclosureCY0,disclosureCY2021,disclosureCY2020,disclosureCY2019,disclosureCY2018,disclosureCY2017,disclosureCY2016,disclosureCY2015,disclosureCY2014,disclosureCY2013,disclosureCY2012,disclosureCY2011,disclosureCY2010,Sector,Industry Group,Industry,Primary Industry,Country / Region Name,S&P Credit Rating,Full Time Employees\n(actual),Total Enterprise Value (CIQ)\n($M),revenueCY0,revenueCY2021,revenueCY2020,revenueCY2019,revenueCY2018,revenueCY2017,revenueCY2016,revenueCY2015,revenueCY2014,revenueCY2013,revenueCY2012,revenueCY2011,revenueCY2010,climate_strategy_scoreFY2022,climate_strategy_scoreFY2021,climate_strategy_scoreFY2020,climate_strategy_scoreFY2019,climate_strategy_scoreFY2018,climate_strategy_scoreFY2017,climate_strategy_scoreFY2016,climate_strategy_scoreFY2015,climate_strategy_scoreFY2014,climate_strategy_scoreFY2013,nuclear_percentage_revenue,thermal_coal_percentage_revenue,ultra_deep_sea_drilling_percentage_revenue,shale_oil_gas_percentage_revenue,coal_percentage_revenue,arctic_drilling_percentage_revenue,oil_sands_percentage_revenue,pe_ratio
2635,Çemas Döküm Sanayi A.S. (IBSE:CEMAS),NaN,4984385,114.162,119.229,121.460603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Materials,Materials,Metals and Mining,Steel,Türkiye,NaN,514.0,42.589555,37.383806,37.383806,28.869900,25.574200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.25
3558,Condor Technologies NV (ENXTPA:MLMFI),NaN,4813124,19.081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Health Care,Health Care Equipment and Services,Health Care Equipment and Supplies,Health Care Equipment,Belgium,NaN,3.0,45.676666,0.000614,0.000614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM
3727,Creative Media & Community Trust Corporation (...,NaN,4543503,9.617,11.388,11.925000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Real Estate,Equity Real Estate Investment Trusts (REITs),Office REITs,USA,NaN,5.0,714.715583,90.926000,90.926000,77.208000,139.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NM
9687,Meds Apotek AB (OM:MEDS),NaN,13690415,NaN,8.836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Retailing,Internet and Direct Marketing Retail,Internet and Direct Marketing Retail,Sweden,NaN,NaN,NaN,24.921556,NaN,24.921556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11765,Polyphor AG,NaN,5030506,NaN,6.107,14.124000,12.12300,17.323021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Health Care,"Pharmaceuticals, Biotechnology and Life Sciences",Biotechnology,Biotechnology,Switzerland,NaN,52.0,NaN,15.226500,NaN,15.226500,0.010100,6.689335,4.412026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14740,SYN prop e tech S.A. (BOVESPA:SYNE3),NaN,4220594,NaN,12.648,12.880980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Real Estate,Real Estate,Real Estate Management and Development,Real Estate Operating Companies,Brazil,NaN,NaN,NaN,95.670425,NaN,95.670425,119.408700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
16648,Webcentral Group Limited,NaN,4963720,NaN,3.606,3.599345,3.59124,3.563100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Information Technology,Software and Services,IT Services,Internet Services and Infrastructure,Australia,NaN,NaN,NaN,35.961890,NaN,35.961890,58.117899,159.060400,151.490300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17259,Zamaz plc (LSE:ZAMZ),NaN,20005868,8.883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Retailing,Internet and Direct Marketing Retail,Internet and Direct Marketing Retail,United Kingdom,NaN,NaN,NaN,2.928481,2.928481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
all_features.head(10)

,company_name,TCUID,MI_ID,intensity_scope1_CY2021,intensity_scope1_CY2020,intensity_scope1_CY2019,intensity_scope1_CY2018,intensity_scope1_CY2017,intensity_scope1_CY2016,intensity_scope1_CY2015,intensity_scope1_CY2014,intensity_scope1_CY2013,intensity_scope1_CY2012,intensity_scope1_CY2011,intensity_scope1_CY2010,disclosureCY0,disclosureCY2021,disclosureCY2020,disclosureCY2019,disclosureCY2018,disclosureCY2017,disclosureCY2016,disclosureCY2015,disclosureCY2014,disclosureCY2013,disclosureCY2012,disclosureCY2011,disclosureCY2010,Sector,Industry Group,Industry,Primary Industry,Country / Region Name,S&P Credit Rating,Full Time Employees\n(actual),Total Enterprise Value (CIQ)\n($M),revenueCY0,revenueCY2021,revenueCY2020,revenueCY2019,revenueCY2018,revenueCY2017,revenueCY2016,revenueCY2015,revenueCY2014,revenueCY2013,revenueCY2012,revenueCY2011,revenueCY2010,climate_strategy_scoreFY2022,climate_strategy_scoreFY2021,climate_strategy_scoreFY2020,climate_strategy_scoreFY2019,climate_strategy_scoreFY2018,climate_strategy_scoreFY2017,climate_strategy_scoreFY2016,climate_strategy_scoreFY2015,climate_strategy_scoreFY2014,climate_strategy_scoreFY2013,nuclear_percentage_revenue,thermal_coal_percentage_revenue,ultra_deep_sea_drilling_percentage_revenue,shale_oil_gas_percentage_revenue,coal_percentage_revenue,arctic_drilling_percentage_revenue,oil_sands_percentage_revenue,pe_ratio
0,"""Bank ""Saint-Petersburg"" Public Joint-Stock Co...",185037.0,4238385,NaN,0.738,0.791709,0.857311,0.944439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Financials,Banks,Banks,Diversified Banks,Russia,NaN,NaN,NaN,409.268900,NaN,409.268900,526.562828,581.219116,769.206600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,"&Do Holdings Co.,Ltd. (TSE:3457)",236994.0,4984797,NaN,13.058,13.519254,14.117776,15.440240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Consumer Durables and Apparel,Household Durables,Homebuilding,Japan,NaN,NaN,NaN,304.026312,NaN,304.026312,283.957713,204.059355,154.417436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1&1 AG (XTRA:1U1),185334.0,8169504,NaN,5.241,5.293000,5.290000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Communication Services,Telecommunication Services,Wireless Telecommunication Services,Wireless Telecommunication Services,Germany,NaN,3167.0,NaN,4315.923668,NaN,4315.923668,4113.924071,4322.399500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,8.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1000mercis (ENXTPA:ALMIL),203522.0,4989826,NaN,7.519,7.546698,7.510652,7.621000,7.669379,7.814625,7.755381,7.653815,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Communication Services,Media and Entertainment,Media,Advertising,France,NaN,396.0,50.760007,68.428373,NaN,68.428373,77.498400,80.362700,66.230800,62.126263,58.396853,59.942036,53.481801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"10x Genomics, Inc. (NASDAQGS:TXG)",244864.0,5248867,NaN,17.922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Health Care,"Pharmaceuticals, Biotechnology and Life Sciences",Life Sciences Tools and Services,Life Sciences Tools and Services,USA,NaN,1239.0,16119.701795,298.845010,NaN,298.845010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM
5,11 bit studios S.A. (WSE:11B),237961.0,4972194,NaN,4.349,3.981511,3.990956,4.164532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Communication Services,Media and Entertainment,Entertainment,Interactive Home Entertainment,Poland,NaN,189.0,NaN,22.340855,NaN,22.340855,18.554200,22.725900,5.065690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6,"111, Inc. (NASDAQGM:YI)",237687.0,11028953,NaN,10.360,10.473861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Staples,Food and Staples Retailing,Food and Staples Retailing,Drug Retail,China,NaN,2114.0,346.311826,1188.610764,NaN,1188.610764,572.118973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM
7,"1-800-FLOWERS.COM, Inc. (NASDAQGS:FLWS)",213896.0,4122591,NaN,8.836,9.223009,9.303917,9.343876,9.431422,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Discretionary,Retailing,Internet and Direct Marketing Retail,Internet and Direct Marketing Retail,USA,NaN,NaN,1818.155139,1489.637000,NaN,1489.637000,1248.623000,1151.921000,1193.625000,1173.024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.508671
8,"1Life Healthcare, Inc. (NASDAQGS:ONEM)",244865.0,5170974,18.864,19.793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Health Care,Health Care Equipment and Services,Health Care Providers and Services,Health Care Services,USA,NaN,3090.0,3364.121812,623.315000,623.315,380.223000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NM
9,1-Page Limited (OTCEM:PGQW.F),222818.0,4972514,NaN,NaN,NaN,NaN,4.155121,4.225435,4.193115,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Information Technology,Software and Services,Software,Application Software,Australia,NaN,NaN,NaN,0.621734,NaN,NaN,NaN,NaN,0.621734,0.306100,0.107458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
all_2020 = all_features[["company_name", "TCUID", "Sector", "Country / Region Name", "S&P Credit Rating", "intensity_scope1_CY2020", "disclosureCY2020", "Full Time Employees\n(actual)", "Total Enterprise Value (CIQ)\n($M)", "revenueCY2020", "climate_strategy_scoreFY2020", "nuclear_percentage_revenue", "thermal_coal_percentage_revenue", "ultra_deep_sea_drilling_percentage_revenue", "shale_oil_gas_percentage_revenue", "coal_percentage_revenue", "arctic_drilling_percentage_revenue", "oil_sands_percentage_revenue", "pe_ratio" ]]
all_2020.rename(columns={"Full Time Employees\n(actual)":"Full Time Employees (actual)", "Total Enterprise Value (CIQ)\n($M)":"Total Enterprise Value (CIQ) ($M)"}, inplace=True)

/tmp/ipykernel_25455/3994831599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.rename(columns={"Full Time Employees\n(actual)":"Full Time Employees (actual)", "Total Enterprise Value (CIQ)\n($M)":"Total Enterprise Value (CIQ) ($M)"}, inplace=True)

In [8]:
all_2020.dropna(0,subset="TCUID", inplace=True)

/tmp/ipykernel_25455/786503264.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  all_2020.dropna(0,subset="TCUID", inplace=True)
/tmp/ipykernel_25455/786503264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.dropna(0,subset="TCUID", inplace=True)

In [9]:
all_2020["S&P Credit Rating"].replace(np.nan, 'NR', inplace=True)

/tmp/ipykernel_25455/2731969605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020["S&P Credit Rating"].replace(np.nan, 'NR', inplace=True)

In [10]:
all_2020.dropna(0,subset="revenueCY2020", inplace=True)

/tmp/ipykernel_25455/3386433805.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  all_2020.dropna(0,subset="revenueCY2020", inplace=True)
/tmp/ipykernel_25455/3386433805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.dropna(0,subset="revenueCY2020", inplace=True)

In [11]:
all_2020.dropna(0,subset="intensity_scope1_CY2020", inplace=True)

/tmp/ipykernel_25455/1976103578.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  all_2020.dropna(0,subset="intensity_scope1_CY2020", inplace=True)
/tmp/ipykernel_25455/1976103578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.dropna(0,subset="intensity_scope1_CY2020", inplace=True)

In [16]:
all_2020["Full Time Employees (actual)"].replace(np.nan, all_2020["Full Time Employees (actual)"].mean(), inplace=True)

/tmp/ipykernel_25455/2362143347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020["Full Time Employees (actual)"].replace(np.nan, all_2020["Full Time Employees (actual)"].mean(), inplace=True)

In [19]:
all_2020["Total Enterprise Value (CIQ) ($M)"].replace(np.nan, all_2020["Total Enterprise Value (CIQ) ($M)"].mean(), inplace=True)

/tmp/ipykernel_25455/3880337791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020["Total Enterprise Value (CIQ) ($M)"].replace(np.nan, all_2020["Total Enterprise Value (CIQ) ($M)"].mean(), inplace=True)

In [22]:
all_2020.climate_strategy_scoreFY2020.replace(np.nan,0.,inplace=True)

/tmp/ipykernel_25455/1979869223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.climate_strategy_scoreFY2020.replace(np.nan,0.,inplace=True)

In [25]:
all_2020.nuclear_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.thermal_coal_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.ultra_deep_sea_drilling_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.shale_oil_gas_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.coal_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.arctic_drilling_percentage_revenue.replace(np.nan,0.,inplace=True)
all_2020.oil_sands_percentage_revenue.replace(np.nan,0.,inplace=True)

/tmp/ipykernel_25455/443133842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.nuclear_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.thermal_coal_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.ultra_deep_sea_drilling_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.shale_oil_gas_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.coal_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.arctic_drilling_percentage_revenue.replace(np.nan,0.,inplace=True)
/tmp/ipykernel_25455/443133842.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.oil_sands_percentage_revenue.replace(np.nan,0.,inplace=True)

In [33]:
all_2020.pe_ratio.replace(np.nan,0., inplace=True)
all_2020.pe_ratio.replace("NM",0., inplace=True)
all_2020.pe_ratio.astype(dtype="float64")

/tmp/ipykernel_25455/4162146451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.pe_ratio.replace(np.nan,0., inplace=True)
/tmp/ipykernel_25455/4162146451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.pe_ratio.replace("NM",0., inplace=True)

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
           ...
17461    21.258855
17462    41.807202
17464     0.000000
17465     0.000000
17467    35.543671
Name: pe_ratio, Length: 16882, dtype: float64

In [36]:
all_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16882 entries, 0 to 17467
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   company_name                                16882 non-null  object
 1   TCUID                                       16882 non-null  float64
 2   Sector                                      16882 non-null  object
 3   Country / Region Name                       16882 non-null  object
 4   S&P Credit Rating                           16882 non-null  object
 5   intensity_scope1_CY2020                     16882 non-null  float64
 6   disclosureCY2020                            16882 non-null  float64
 7   Full Time Employees (actual)                16882 non-null  float64
 8   Total Enterprise Value (CIQ) ($M)           16882 non-null  float64
 9   revenueCY2020                               16882 non-null  float64
 10  climate_strategy_scoreFY2020                16882 non-null  float64
 11  nuclear_percentage_revenue                  16882 non-null  float64
 12  thermal_coal_percentage_revenue             16882 non-null  float64
 13  ultra_deep_sea_drilling_percentage_revenue  16882 non-null  float64
 14  shale_oil_gas_percentage_revenue            16882 non-null  float64
 15  coal_percentage_revenue                     16882 non-null  float64
 16  arctic_drilling_percentage_revenue          16882 non-null  float64
 17  oil_sands_percentage_revenue                16882 non-null  float64
 18  pe_ratio                                    16882 non-null  float64
dtypes: float64(15), object(4)
memory usage: 2.6+ MB

In [38]:
all_2020["Employees / Revenue"] = all_2020["Full Time Employees (actual)"] / all_2020["revenueCY2020"]
all_2020.drop(columns=["S&P Credit Rating", "Full Time Employees (actual)"], inplace=True)
all_2020

/tmp/ipykernel_25455/1542965465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020["Employees / Revenue"] = all_2020["Full Time Employees (actual)"] / all_2020["revenueCY2020"]
/tmp/ipykernel_25455/1542965465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_2020.drop(columns=["S&P Credit Rating", "Full Time Employees (actual)"], inplace=True)

,company_name,TCUID,Sector,Country / Region Name,intensity_scope1_CY2020,disclosureCY2020,Total Enterprise Value (CIQ) ($M),revenueCY2020,climate_strategy_scoreFY2020,nuclear_percentage_revenue,thermal_coal_percentage_revenue,ultra_deep_sea_drilling_percentage_revenue,shale_oil_gas_percentage_revenue,coal_percentage_revenue,arctic_drilling_percentage_revenue,oil_sands_percentage_revenue,pe_ratio,Employees / Revenue
0,"""Bank ""Saint-Petersburg"" Public Joint-Stock Co...",185037.0,Financials,Russia,0.738,0.000,10444.564655,409.268900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,27.842038
1,"&Do Holdings Co.,Ltd. (TSE:3457)",236994.0,Consumer Discretionary,Japan,13.058,0.000,10444.564655,304.026312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,37.479914
2,1&1 AG (XTRA:1U1),185334.0,Communication Services,Germany,5.241,0.000,10444.564655,4315.923668,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.733794
3,1000mercis (ENXTPA:ALMIL),203522.0,Communication Services,France,7.519,0.000,50.760007,68.428373,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.787073
4,"10x Genomics, Inc. (NASDAQGS:TXG)",244864.0,Health Care,USA,17.922,0.000,16119.701795,298.845010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,4.145962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17461,Zydus Lifesciences Limited (NSEI:ZYDUSLIFE),135872.0,Health Care,India,46.518,99.047,7045.794485,2010.788229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.258855,11.807807
17462,Zydus Wellness Limited (BSE:531335),232457.0,Consumer Staples,India,48.245,0.000,1643.706431,249.258111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.807202,4.312798
17464,Zymergen Inc. (NASDAQGS:ZY),247962.0,Materials,USA,13.948,0.000,269.035319,13.284000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,37.789822
17465,Zymeworks Inc. (NYSE:ZYME),234309.0,Health Care,Canada,13.948,0.000,485.454470,38.951000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,11.681343
17467,"Zynex, Inc. (NASDAQGS:ZYXI)",239643.0,Health Care,USA,21.079,0.000,335.225927,80.122000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.543671,9.660268