## Formatting for coal expansion, fossil fuel

In [1]:
import pandas as pd

In [4]:
!pwd

/Users/madeleinecussac/code/carbon-forecast/notebooks

In [7]:
all_features = pd.read_excel('../../mcussac/data_forecast_carbon/All_features_v2.xlsx')
all_features.head()

,company_name,TCUID,MI_ID,intensity_scope1_CY2021,intensity_scope1_CY2020,intensity_scope1_CY2019,intensity_scope1_CY2018,intensity_scope1_CY2017,intensity_scope1_CY2016,intensity_scope1_CY2015,...,intensity_scope3CY2019,intensity_scope3CY2018,intensity_scope3CY2017,intensity_scope3CY2016,intensity_scope3CY2015,intensity_scope3CY2014,intensity_scope3CY2013,intensity_scope3CY2012,intensity_scope3CY2011,intensity_scope3CY2010
0,"""Bank ""Saint-Petersburg"" Public Joint-Stock Co...",185037.0,4238385,NaN,0.738,0.791709,0.857311,0.944439,NaN,NaN,...,22.319502,23.871367,24.806812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"&Do Holdings Co.,Ltd. (TSE:3457)",236994.0,4984797,NaN,13.058,13.519254,14.117776,15.440240,NaN,NaN,...,39.202094,45.770737,51.266939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1&1 AG (XTRA:1U1),185334.0,8169504,NaN,5.241,5.293000,5.290000,NaN,NaN,NaN,...,49.703000,53.329000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000mercis (ENXTPA:ALMIL),203522.0,4989826,NaN,7.519,7.546698,7.510652,7.621000,7.669379,7.814625,...,42.154929,45.121483,46.717018,44.565488,42.147862,42.679674,41.788645,NaN,NaN,NaN
4,"10x Genomics, Inc. (NASDAQGS:TXG)",244864.0,5248867,NaN,17.922,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
sector_rev = pd.read_csv('../../mcussac/data_forecast_carbon/Sectorrev.csv')
sector_rev.head()

,TCUID,Company,ISIN,Financial Year,GICS Sector Code,GICS Sector Name,GICS Industry Group Code,GICS Industry Group Name,GICS Industry Code,GICS Industry Name,GICS Sub Industry Code,GICS Sub Industry Name,GICS Description,Country,Trucost Sector Name,Trucost Sector,Trucost Sector Revenue (USD mn),Trucost Sector Revenue Percentage (%),FigureRestate,EffectiveDate
0,42694,Erste Group Bank AG,AT0000652011,2005,40,Financials,4010,Banks,401010,Banks,40101010,Diversified Banks,Commercial banks whose businesses are derived ...,AUSTRIA,Monetary authorities and depository credit int...,52A000,5638.151346,1.0000,0,2009-05-15 12:48:46.67
1,42694,Erste Group Bank AG,AT0000652011,2006,40,Financials,4010,Banks,401010,Banks,40101010,Diversified Banks,Commercial banks whose businesses are derived ...,AUSTRIA,Monetary authorities and depository credit int...,52A000,9596.196598,1.0000,0,2009-05-15 12:48:46.67
2,42694,Erste Group Bank AG,AT0000652011,2007,40,Financials,4010,Banks,401010,Banks,40101010,Diversified Banks,Commercial banks whose businesses are derived ...,AUSTRIA,Monetary authorities and depository credit int...,52A000,9036.210000,1.0000,0,2009-05-15 12:48:46.67
3,42694,Erste Group Bank AG,AT0000652011,2008,40,Financials,4010,Banks,401010,Banks,40101010,Diversified Banks,Commercial banks whose businesses are derived ...,AUSTRIA,Monetary authorities and depository credit int...,52A000,8323.630000,0.8539,0,2009-09-04 10:12:13.25
4,42694,Erste Group Bank AG,AT0000652011,2008,40,Financials,4010,Banks,401010,Banks,40101010,Diversified Banks,Commercial banks whose businesses are derived ...,AUSTRIA,"Securities, commodity contracts, investments, ...",523000,1424.150000,0.1461,0,2009-09-04 10:12:13.25

In [15]:
# drop columns
sector_rev.drop(columns=['Company', 'ISIN', 'GICS Sector Code',
       'GICS Sector Name', 'GICS Industry Group Code',
       'GICS Industry Group Name', 'GICS Industry Code', 'GICS Industry Name',
       'GICS Sub Industry Code', 'GICS Sub Industry Name', 'GICS Description',
       'Country', 'Trucost Sector',
       'Trucost Sector Revenue (USD mn)', 'FigureRestate',
       'EffectiveDate'], inplace=True)

In [17]:
sector_rev.head()

,TCUID,Financial Year,Trucost Sector Name,Trucost Sector Revenue Percentage (%)
0,42694,2005,Monetary authorities and depository credit int...,1.0000
1,42694,2006,Monetary authorities and depository credit int...,1.0000
2,42694,2007,Monetary authorities and depository credit int...,1.0000
3,42694,2008,Monetary authorities and depository credit int...,0.8539
4,42694,2008,"Securities, commodity contracts, investments, ...",0.1461

In [22]:
sector_rev_2020 = sector_rev[sector_rev['Financial Year']==2020]

In [25]:
sector_rev_2020_formatted = pd.pivot_table(sector_rev_2020, values='Trucost Sector Revenue Percentage (%)' , columns='Trucost Sector Name', index='TCUID')

In [26]:
sector_rev_2020_formatted

Trucost Sector Name,Abrasive product manufacturing,"Accounting, tax preparation, bookkeeping, and payroll services",Adhesive manufacturing,Advertising and related services,Air and gas compressor manufacturing,"Air conditioning, refrigeration, and warm air heating equipment manufacturing",Air purification and ventilation equipment manufacturing,Air transportation,Aircraft engine and engine parts manufacturing,Aircraft manufacturing,...,"Water, sewage and other systems",Wave & Tidal Power Generation,Wet corn milling,Wind Power Generation,Wineries,Wiring device manufacturing,Women's and girls' cut and sew apparel manufacturing,Wood container and pallet manufacturing,Wood kitchen cabinet and countertop manufacturing,Wood windows and doors and millwork
TCUID,,,,,,,,,,,,,,,,,,,,,
42694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
all_features_with_sectorrev = pd.merge(all_features, sector_rev_2020_formatted, on='TCUID')

In [29]:
all_features_with_sectorrev.shape

(16647, 548)

In [31]:
all_features_with_sectorrev.to_csv('../../mcussac/data_forecast_carbon/all_features_with_sectorrev.csv')